.showvideo{
    display: flex;
    &--div{
        width: 1024px;
        margin: 0 auto;
        display: flex;
        .showvideo-left{
            width: 65%;
            border: 1px solid #fff;
            
        }
        .showvideo-right{
            width: 35%;
            height: 200px;
            border: 1px solid #fff;

        }
    }
}